clientApp.0.main=net.i2p.app.CorrectedShellService
clientApp.0.name=i2pmail-linux-amd64
clientApp.0.args=$PLUGIN/lib/i2pmail-linux-amd64 -shellservice.name "i2pmail-linux-amd64" -shellservice.displayname "Thunderbird-I2P-Auto-Configuration - IRC" -conf "$PLUGIN/catbox-i2p.conf"
clientApp.0.delay=1
clientApp.0.startOnLoad=true
clientApp.0.classpath=$PLUGIN/lib/shellservice.jar
