name=i2pmail-linux-amd64
key=
signer=hankhill19580@gmail.com
version=0.0.01
license=AGPL
author=hankhill19580@gmail.com
websiteURL=http://idk.i2p/Thunderbird-I2P-Auto-Configuration/
updateURL=http://idk.i2p/Thunderbird-I2P-Auto-Configuration/i2pmail-linux-amd64.su3
description=mail.i2p/i2pmail.org helper files
consoleLinkName=Thunderbird-I2P-Auto-Configuration - IRC
disableStop=false
dont-start-at-install=false
router-restart-required=false
update-only=false
install-only=false
